<% layout('/layouts/bt') %>
  <body>
    
    <div class="row mt-3">
      <div class="col-8 offset-2">
      
        <h3>Edit your Listing</h3>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" class="needs-validation" novalidate>
      <div class="mb-3">
        <label for="title" class="form-label">Name</label>       
        <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control" required/>
        <div class="invalid-feedback">Please enter name</div>
      </div>
      
      <div class="mb-3">
        <label for="description" class="form-label">description</label>       
        <textarea name="listing[description]" class="form-control" required>
        <%= listing.description %> </textarea>      
        <div class="invalid-feedback">Please enter description</div>
      </div>
      
      <div class="mb-3">
        <label for="image" class="form-label">image url</label>       
          <input name="listing[image][url]" value="<%= listing.image.url %>" type="text" placeholder="Image URL" class="form-control" required />  
          <div class="invalid-feedback">Please enter image-url</div>
        </div>

      <div class="row">
      <div class="mb-3 col-md-4">
        <label for="price" class="form-label">price</label>       
        <input name="listing[price]" value="<%= listing.price %>"  class="form-control"required/>
        <div class="invalid-feedback">Please enter valis price</div>
      </div>

      <div class="mb-3 col-md-8">
        <label for="country" class="form-label">country</label> 
        <input
        name="listing[country]"
        value="<%= listing.country %>"
        type="text"
        class="form-control"
        required
      />
      <div class="invalid-feedback">Please enter country</div>      
      </div>

    </div>
      
      <div class="mb-3">
        <label for="location" class="form-label">location</label> 
        <input
        name="listing[location]"
        value="<%= listing.location %>"
        type="text"
        class="form-control"
        required
      />      
      <div class="invalid-feedback">Please enter location</div>
      </div>
      <br />
      <button class="btn btn-outline-danger mb-5 add-btn">Edit</button>
    </form>
  </div>
</div>
  </body>
